<?xml version="1.0" encoding="UTF-8"?>
<!-- This enables communications between the servLets and the corresponding JSP files (webPages)  -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID" version="2.5">
  <display-name>WebDemo</display-name>
  <welcome-file-list>
    <welcome-file>WebDemo.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>registrationDemo</servlet-name>
    <servlet-class>
			com.ServletPackage.RegistrationServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationDemo</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginDemo</servlet-name>
    <servlet-class>
			com.ServletPackage.LoginServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginDemo</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>
